<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: head_fragment(title=ログイン)"></head>

<body>
    <div class="main justify-content-center w-100">
        <main class="content p-0">
            <div class="container flex-column">
                <div class="row h-100">
                    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100 mt-5">
                        <div class="d-table-cell align-middle">

                            <div class="" style="position: relative; width: 100%; border-radius: 5px; border: 1px solid rgb(212, 212, 212); padding: 30px;">

                                <div class="text-center mt-4">
                                    <h1 class="h2" style="font-size: 24px;">パスワード再設定</h1>
                                </div>
                                <form th:action="@{/password_reset_submit}" th:method="post">
                                    <div class="mb-3 mt-5">
                                        <label class="form-label" for="email" style="font-weight: bold;">メールアドレス</label> <input class="form-control form-control-lg" type="email" id="email" name="email">
                                    </div>

                                    <div style="display: flex; justify-content: flex-end;">
                                        <div>
                                            <a th:href="@{/login}" style="display: inline-block; padding: 10px 20px; border: 1px solid rgb(212, 212, 212); border-radius: 5px; text-decoration: none; color: black;">キャンセル</a>
                                        </div>
                                        <div class="text-center" style="margin-left: 20px;">
                                            <input type="submit" name="loginRun" value="送信" class="" style="padding: 10px 20px; border: none; border-radius: 5px;">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>