<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: head_fragment(title=ログイン)"></head>

<body>
    <div class="main justify-content-center w-100">
        <main class="content p-0">
            <div class="container flex-column">
                <div class="row h-100">
                    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100 mt-5">
                        <div class="d-table-cell align-middle">

                            <div class="" style="position: relative; width: 100%; border-radius: 5px; border: 1px solid rgb(212, 212, 212); padding: 30px;">

                                <div class="text-center mt-4">
                                    <h1 class="h2" style="font-size: 24px;">パスワード再設定</h1>
                                </div>
                                <div class="mb-3 mt-4" style="border-radius: 10px; background-color: rgb(147, 224, 231); padding: 30px 20px; font-weight: bold; font-size: 18px;">
                                    <div>再設定用のURLを記載した<br>メールを送信しました</div>
                                </div>
                                <div>
                                    <div style="text-align: center;">
                                        <a th:href="@{/login}" style="color: black;">ログインへ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>